<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            h1 {
                text-align: center;
            }
            .first {
                height: 20px;
                width: 500px;
            }
            .second {
                height: 450px;
                width: 1000px;
            }
            a {
                margin: 5px;
                padding: 5px;

            }
        </style>
    </head>
    <body>
        <nav>
            <a href='/blogs'>Main Blog Page</a>
            <a href='/newpost'>Add a Blog Entry</a>
        </nav>
        {% block content %}
        {% endblock %}    
    </body>
</html>
