{% extends "base.html" %}
{% block content %}
<h1 class="build-a-blog">Build A Blog</h1>
<form action='/blogs' method='post'>
    {% if blogs|length == 0 %}
    <p>No Blog Posts Yet</p>
    {% else %}
        <div class='cards'>
            {% for blog in blogs %}
            <div class='blog-card'>
                <h3><a class='blog-link' href="/blog/{{blog.id}}">{{ blog.title }}</a></h3>
                <p class='blog-card-body'>{{blog.content}}</p>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</form>
{% endblock %}




