{% extends "base.html" %}
{% block content %}
<h1 class="build-a-blog">Add A Blog Entry</h1>
<form action='/newpost' method='post'>
    <div class='new-post-body' >
            <label for='title'>Title For Your New Blog:</label>
            <input class="first" name='title' type='text' value='{{title}}'>
                {% if title_error %}
                <p class="error">{{ title_error }}</p>
                {% endif %}
        </div>
        <div class="new-post-body">
           <label for='content'>Your New Blog: </label>
           <input class="second" name='content' type='text' value='{{content}}'>
                {% if content_error %}
                <p class="error">{{ content_error }}</p>
                {% endif %}
        </div>
        <div class='button-wrapper'>
    <input class='submit-button' type='submit' value='Add Entry' >
</div>
</form>
{% endblock %}